html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    padding-top: 26vw;
}

/* Style skip to main*/
.skip {
    height: 35px;
    background-color: lightgrey;
    position: absolute;
    top: -40px;
    font-family: 'Atkinson Hyperlegible';
    font-size: 4.2vw;
    line-height: 1.5em;
}

.skip:focus {
    position: static;
    top: 20px;
}

/* Style nav bar*/
nav {
    background-color: #00274C;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2vw;
    width: 100%;
    box-shadow: 0vw 2vw 3vw rgba(0, 0, 0, 0.3);
}

nav img {
    float: left;
    padding: 1vw 2vw;
    width: 13vw;
    height: 13vw;
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

nav ul a {
    float: left;
    color: white;
    text-align: left;
    padding: 1vw 2vw;
    text-decoration: none;
    font-size: 5vw;
    font-family: 'Atkinson Hyperlegible';
}

nav ul a.active {
    color:#00274C;
}

nav a.active {
    background-color: #FFCB05;
    font-weight: bold;
    border-radius: 2vw;
}

/* Style footer*/
footer {
    position: static;
    left: 0;
    bottom: 0;
    background-color: #00274C;
    width: 100%;
    color: white;
    padding: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2vw;
    margin-top: 5vw;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 5vw;
    font-family: 'Atkinson Hyperlegible';
}

footer #contact {
    text-decoration: underline;
}

footer img {
    width: 13vw;
    height: 13vw;
    padding: 3vw;
}

/*Style main content*/
main img {
    width: 80vw;
    height: auto;
}

h1 {
    font-family: 'Atkinson Hyperlegible';
    color:#00274C;
    font-size: 8vw;
    font-weight: bold;
    text-align: left;
    margin: 8vw;
}

p, figcaption, li {
    color: black;
    font-family: 'Atkinson Hyperlegible';
    font-size: 4.2vw;
    line-height: 1.5em;
}

a {
    font-family: 'Atkinson Hyperlegible';
    color:#00274C;
}

h2 {
    color: black;
    font-family: 'Atkinson Hyperlegible';
    font-size: 4.6vw;
    line-height: 1.5em;
    text-align: center;
}

h3 {
    color:#00274C;
    font-family: 'Atkinson Hyperlegible';
    font-size: 4.2vw;
    line-height: 1.5em;
    text-decoration: underline;
}

.smallBox {
    height: auto;
    padding: 3vw;
    border-radius: 8px;
    background-color: #ffebb3;
}

.intro {
    text-align: left;
    margin: 5vw 7vw 5vw 7vw;
}

.indexResources {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 5vw;
    gap: 2vw;
    text-align: center;
}

.indexResources p {
    height: auto;
    padding: 3vw;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vw;
}

.indexResources p:nth-child(even) {
    background-color: #00274C;
}

.indexResources p:nth-child(even) a {
    text-decoration: none;
    color: white;
}

.indexResources p:nth-child(odd) {
    border: 0.3vw solid #00274C;
    background-color:#FFCB05;
}

.indexResources p:nth-child(odd) a {
    text-decoration: none;
    color:black;
}

.blueBox {
    background-color:#00274C;
    margin: 6vw 4vw 6vw 4vw;
    border-radius: 5vw;
    padding: 5vw;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.blueBox p{
    color:white;
}

.blueBox figcaption{
    color:lightgray;
}

.blueBox h2{
    color:#FFCB05;
    text-align: center;
    text-decoration: underline;
}

.blueBox a{
    color:white;
    text-decoration: underline;
    font-weight: bold;
}

.list ul{
    list-style-type:square;
    padding-left: 4vw;
}

.list a,li{
    display: list-item;
    margin-top: 2vw;
}

.list li::marker {
    color: inherit;
  }

.yelBox {
    background-color:#FFCB05;
    margin: 6vw 4vw 6vw 4vw;
    border-radius: 5vw;
    padding: 5vw;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.yelBox h2{
    color:#00274C;
    text-align: center;
    text-decoration: underline;
}

.yelBox a{
    color:#00274C;
    text-decoration: underline;
    font-weight: bold;
}

.transparentBox {
    margin: 5vw 2vw 5vw 2vw;
    padding: 5vw;
    border-top: 0.5vw solid gray;
}

.transparentBox h2 {
    margin-bottom: 1vw;
}

.twoCol {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:4vw;
    margin-top: 4vw;
}

.twoCol img {
    width: 42vw;
    height: auto;
    margin-top: 2vw;
}

.twoCol figcaption{
    text-align: center;
    font-style: italic;
    font-size: 3.5vw;
}

.twoCol > *:first-child {
    border-right: 0.5vw solid #00274C;
    padding-right: 2.5vw;
}

.twoByTwo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap:4vw;
    margin-top: 4vw;
}

.twoByTwo h3 {
    margin-bottom: 1vw;
    color: #00274C;
}

.twoByTwo a {
    color: #00274C;
}

.fiveBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap:4vw;
    margin-top: 4vw;
}

.fiveBox h3 {
    margin-bottom: 1vw;
}

.fiveBox > *:nth-child(5) {
    grid-column: span 2;
}

.threeItems {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap:4vw;
    margin-top: 4vw;
}

.threeItems h3 {
    margin-bottom: 1vw;
}

.threeItems > *:nth-child(3) {
    grid-column: span 2;
}

.picture {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture figcaption{
    text-align: center;
    font-style: italic;
    font-size: 3.5vw;
    margin-top: 1vw;
}

.picture img{
    margin-top: 4vw;
    border-radius: 2vw;
}

.simpleBlue {
    background-color:#00274C;
    border-radius: 3vw;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.simpleBlue a {
    color:#FFCB05;
    text-align: center;
    font-weight:bold;
    margin-bottom: 1.5vw;
}

.simpleBlue p{
    color:white;
    text-align: center;
}

.simpleYel {
    border-radius: 3vw;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0.5vw solid #FFCB05;
}

.simpleYel a{
    color:#00274C;
    text-align: center;
    font-weight:bold;
    margin-bottom: 1.5vw;
}

.simpleYel p{
    color:black;
    text-align: center;
}